body {
  background-image: url('../public/bg.jpg');
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;

}

input:-webkit-autofill,
.my-class:-webkit-autofill {
    -webkit-transition-delay: 9999999s;
}